@import "tailwindcss";

:root{
  --main-color: #309FFD;
  --main-bg-color: #111;
  --main-fg-color: #f0f8ff;
}

* {
  font-family: "Poppins", sans-serif;
}

body{
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

@layer components {
  .heading-main {
    @apply text-5xl md:text-6xl font-extrabold mb-4;
  }
}